<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "classpath:com/skm/common/mybatis/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skm.demo.persistence.dao.OrderDao">

    <resultMap id="RM" type="com.skm.demo.domain.OrderBean">
        <result column="no" jdbcType="VARCHAR" property="no" />
        <result column="shipper_code" jdbcType="VARCHAR" property="shipperCode" />
        <result column="shipper_name" jdbcType="VARCHAR" property="shipperName" />
        <result column="provider_code" jdbcType="VARCHAR" property="providerCode" />
        <result column="provider_name" jdbcType="VARCHAR" property="providerName" />
        <result column="submit_dt" jdbcType="TIMESTAMP" property="submitDt" />
        <result column="delivery_dt" jdbcType="TIMESTAMP" property="deliveryDt" />
    </resultMap>

    <resultMap id="OrderQueryDTO" type="com.skm.demo.persistence.DTO.OrderQueryDTO">
        <result column="no" jdbcType="VARCHAR" property="no" />
        <result column="shipper_code" jdbcType="VARCHAR" property="shipperCode" />
        <result column="shipper_name" jdbcType="VARCHAR" property="shipperName" />
        <result column="provider_code" jdbcType="VARCHAR" property="providerCode" />
        <result column="provider_name" jdbcType="VARCHAR" property="providerName" />
        <result column="submit_dt" jdbcType="TIMESTAMP" property="submitDt" />
        <result column="delivery_dt" jdbcType="TIMESTAMP" property="deliveryDt" />
    </resultMap>


    <sql id="columns">
        `no`,
        `shipper_code`,
        `shipper_name`,
        `provider_code`,
        `provider_name`,
        `submit_dt`,
        `delivery_dt`
    </sql>

    <sql id="querySql">
        <where>
            <if test="@Ognl@isNotEmpty(noLike)"> AND `no` like #{noLike, jdbcType=VARCHAR} </if>
            <if test="@Ognl@isNotEmpty(shipperCodeLike)"> AND `shipper_code` like #{shipperCodeLike, jdbcType=VARCHAR} </if>
            <if test="@Ognl@isNotEmpty(providerCodeLike)"> AND `provider_code` like #{providerCodeLike, jdbcType=VARCHAR} </if>
            <if test="@Ognl@isNotEmpty(startSubmitTime)"> AND `submit_dt` &lt;= #{startSubmitTime, jdbcType=TIMESTAMP} </if>
            <if test="@Ognl@isNotEmpty(endSubmitTime)"> AND `submit_dt` &gt;= #{endSubmitTime, jdbcType=TIMESTAMP} </if>
        </where>
    </sql>

    <select id="dynamicSelectOrder" resultMap="OrderQueryDTO">
        SELECT <include refid="columns" /> FROM `demo_order` <include refid="querySql" />
    </select>


    <insert id="saveOrder" useGeneratedKeys="true" keyProperty="id" >
        <![CDATA[
             INSERT INTO `demo_order` (
                  `no`,
                  `shipper_code`,
                  `shipper_name`,
                  `provider_code`,
                  `provider_name`,
                  `submit_dt`,
                  `delivery_dt`,
                  `entry_id`,
                  `entry_name`,
                  `entry_dt`,
                  `update_id`,
                  `update_name`,
                  `update_dt`
                )
            VALUES (
                  #{no, jdbcType=VARCHAR},
                  #{shipperCode, jdbcType=VARCHAR},
                  #{shipperName, jdbcType=VARCHAR},
                  #{providerCode, jdbcType=VARCHAR},
                  #{providerName, jdbcType=VARCHAR},
                  #{submitDt, jdbcType=TIMESTAMP},
                  #{deliveryDt, jdbcType=TIMESTAMP},
                  #{entryId, jdbcType=BIGINT},
                  #{entryName, jdbcType=VARCHAR},
                  #{entryDt, jdbcType=TIMESTAMP},
                  #{updateId, jdbcType=BIGINT},
                  #{updateName, jdbcType=VARCHAR},
                  #{updateDt, jdbcType=TIMESTAMP}
            )
        ]]>
    </insert>

    <select id="getOrderByNo" resultMap="RM">
        SELECT
            *
        FROM
            `demo_order`
        WHERE
            `no` = #{no, jdbcType=VARCHAR}
    </select>


    <update id="update" >
        <![CDATA[
            UPDATE `demo_order`
                SET `shipper_code` = #{shipperCode, jdbcType=VARCHAR}
                    , `shipper_name` = #{shipperName, jdbcType=VARCHAR}
                    , `provider_code` = #{providerCode, jdbcType=VARCHAR}
                    , `provider_name` = #{providerName, jdbcType=VARCHAR}
                    , `submit_dt` = #{submitDt, jdbcType=TIMESTAMP}
                    , `delivery_dt` = #{deliveryDt, jdbcType=TIMESTAMP}
                    , `update_id` = #{updateId, jdbcType=BIGINT}
                    , `update_name` = #{updateName, jdbcType=VARCHAR}
                    , `update_dt` = #{updateDt, jdbcType=TIMESTAMP}
                WHERE no = #{no, jdbcType=VARCHAR}
        ]]>
    </update>


</mapper>
